* {box-sizing: border-box;}

body {
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  background-color: #383640;
}

.main_body {
    padding: 15px;
}

.header {
  overflow: hidden;
  padding: 20px 10px 0px 10px;
  background-color: #565461;

   border: 5px solid #EBEBEB;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;

}

.top {
    display: inline-block;
}

.header a {
  color: #f1f1f1;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.logoImg {
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  height: 300px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

 .tabs {
	 width: 100%;
	 text-align: center;
}

nav {
    display: inline-block;
    position: relative;
}

 .tabs__tab {
     display: inline-block;
	 width: 140px;
	 height: 40px;
	 line-height: 40px;
	 text-align: center;
	 background-color: #565461;
	 box-shadow: inset 10px 0;
	 transition: box-shadow 200ms ease-out;
	 cursor: pointer;
	 font-size: 18px;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-weight: 300;
	 margin-right: 10px;
}
 .tabs__tab:last-of-type {
	 margin-right: 0;
}
 .tabs__tab--active, .tabs__tab:hover {
	 box-shadow: inset 140px 0;
}
 .tabs__tab-inner {
    color: #EBEBEB;
	 transition: color 200ms ease-out;
}
 .tabs__tab:hover .tabs__tab-inner {
	 color: black;
}

figcaption {
    margin-left: 12px;
}

 .tabs__tab--filterTab {
	 color: #EBEBEB;
}
 .header--codepen {
	 font-family: 'Raleway', sans-serif;
	 font-weight: 400;
	 font-size: 32px;
	 text-align: center;
}
 .header--codepen:before {
	 content: "\f1cb";
	 font-family: FontAwesome;
	 margin-right: 10px;
}

/*table stuff*/

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #EBEBEB;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
  color: #EBEBEB;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{

  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}



@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/*form*/




@import "bourbon";
h1 {
	 font-family: "Texta", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
	 font-weight: 700;
	 text-transform: uppercase;
	 letter-spacing: 4px;
	 text-align: center;
}
 h2 {
	 font-weight: 400;
	 font-size: 24px;
	 color: rgba(255, 255, 255, .4);
}
 .container {
	 max-width: 400px;
	 margin: 0 auto;
	 padding: 20px 16px 40px 16px;
	 transform: translateZ(0);
	 text-align: center;
}
 .form-footer {
	 margin-top: 2em;
}
 .ui-input {
	 position: relative;
	 padding: 0;
	 border: 0;
}
 .ui-input input, .ui-input select {
	 font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
	 color: #EBEBEB;
	 border: 0;
	 background: none;
	 padding: 16px 0 16px 0;
	 font-size: 24px;
	 outline: 0;
	 width: 100%;
	 tap-highlight-color: rgba(0, 0, 0, 0);
	 touch-callout: none;
}
 .ui-input input + .formLabels, .ui-input select + .formLabels {
	 position: relative;
	 display: block;
	 padding: 8px 0 8px 0;
	 text-transform: uppercase;
	 font-size: 14px;
	 letter-spacing: 0.0875em;
	 font-weight: 500;
	 text-align: left;
}
 .ui-input input + .formLabels:before, .ui-input input + .formLabels:after, .ui-input select + .formLabels:before, .ui-input select + .formLabels:after {
	 position: absolute;
	 top: 0;
	 left: 0;
	 content: "";
	 width: 100%;
	 height: 1px;
}
 .ui-input input + .formLabels:before, .ui-input select + .formLabels:before {
	 background-color: rgba(255, 255, 255, .5);
}
 .ui-input input + .formLabels:after, .ui-input select + .formLabels:after {
	 transform: scaleX(0);
	 transform-origin: left;
	 transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
	 background-color: #6eb1ff;
	 height: 2px;
}
 .ui-input input + .formLabels span, .ui-input select + .formLabels span {
	 position: relative;
	 color: rgba(255, 255, 255, .5);
	 transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
 .ui-input input + .formLabels span:after {
	 content: attr(data-text);
	 position: absolute;
	 overflow: hidden;
	 left: 0;
	 transform: scaleX(1);
	 white-space: nowrap;
	 color: #EBEBEB;
	 background-image: linear-gradient(to right, #4a90e2 50%, rgba(255, 255, 255, 0) 0%);
	 background-position: 100% 50%;
	 background-size: 200%;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 backface-visibility: hidden;
	 perspective: 1000;
	 transform: translateZ(0);
	 transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
 .ui-input input:focus + .formLabels:after, .ui-input input.error + .formLabels:after, .ui-input input:invalid + .formLabels:after, .ui-input input.filled + .formLabels:after {
	 transform: scaleX(1);
	 transform-origin: left;
}
 .ui-input input:focus + .formLabels span:after, .ui-input input.error + .formLabels span:after, .ui-input input:invalid + .formLabels span:after, .ui-input input.filled + .formLabels span:after {
	 background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 0%);
	 background-position: 0% 50%;
}
 .ui-input input.filled {
	 color: #EBEBEB;
}
 .ui-input input.filled + .formLabels:after {
	 background-color: #EBEBEB;
}
 .ui-input input.filled + .formLabels span:after {
	 background-image: linear-gradient(to right, #EBEBEB 50%, rgba(255, 255, 255, 0) 0%);
	 background-position: 0% 50%;
}
 .ui-input input:focus {
	 color: #6eb1ff;
}
 .ui-input input:focus + .formLabels:after {
	 background-color: #6eb1ff;
}
 .ui-input input:focus + .formLabels span:after {
	 background-image: linear-gradient(to right, #6eb1ff 50%, rgba(255, 255, 255, 0) 0%);
	 background-position: 0% 50%;
}
 .ui-input input.error, .ui-input input:invalid {
	 color: #e66161;
}
 .ui-input input.error + .formLabels:after, .ui-input input:invalid + .formLabels:after {
	 background-color: #e66161;
}
 .ui-input input.error + .formLabels span:after, .ui-input input:invalid + .formLabels span:after {
	 background-image: linear-gradient(to right, #e66161 50%, rgba(255, 255, 255, 0) 0%);
	 background-position: 0% 50%;
}
 .tagbtn, .btn {
	 border: 0;
	 background-color: #404C64;
	 text-transform: uppercase;
	 letter-spacing: 0.0875em;
	 font-weight: 500;
	 color: #EBEBEB;
	 border-radius: 100px;
	 outline: 0;
	 transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn {
    padding: 18px 30px;
	 font-size: 14px;
	 line-height: 1.5;
}
.tagbtn{
    padding: 6px;
	 font-size: 14px;
	 line-height: 1cm;
	 margin-left: -43px;
}
 .tagbtn:focus, .tagbtn:active, .tagbtn:hover, .btn:focus, .btn:active, .btn:hover {
	 background-color: #6eb1ff;
	 color: white;
}
 @keyframes fadeIn {
	 from {
		 opacity: 0;
		 transform: translate3d(0, -25%, 0);
	}
	 to {
		 opacity: 1;
		 transform: translate3d(0, 0, 0);
	}
}
#id_attachment {
    font-size:15px;
    width: fit-content;
    position:relative;
    left:20px;
}
fieldset {
    color: #EBEBEB
}
#attachment-clear_id{
    width:fit-content;
}

#deleteResourcePage{
    text-align:center;
    font-size: 24px;
}
#deleteResourcePage table{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
#myInput {
    position: relative;
}
.footer {
    text-align: center;
    height: 100px;
    background-color: #565461;
}
#tetrisButton {
    position:absolute;
    top:50px;
    right: 50px;
}
#pacmanButton {
    position:absolute;
    top:50px;
    right: 150px;
}
#spaceButton {
    position:absolute;
    top:50px;
    right: 262px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
 .reveal {
	 position: relative;
	 margin-left:auto;
	 margin-right:auto;
	 display: flex;
	 font-size: 2rem;
	 font-family: 'Raleway', sans-serif;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 white-space: pre;
	 width: fit-content;
}
 .reveal span {
	 opacity: 0;
	 transform: scale(0);
	 animation: fade-in 2.5s forwards;
}
 .reveal::before, .reveal::after {
	 position: absolute;
	 content: "";
	 top: 0;
	 height: 100%;
	 width: 2px;
	 background: white;
	 opacity: 0;
	 transform: scale(0);
}
 .reveal::before {
	 left: 50%;
	 animation: slide-left 2s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}
 .reveal::after {
	 right: 50%;
	 animation: slide-right 2s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}
 @keyframes fade-in {
	 to {
		 opacity: 1;
		 transform: scale(1);
	}
}
 @keyframes slide-left {
	 to {
		 left: -6%;
		 opacity: 1;
		 transform: scale(0.9);
	}
}
 @keyframes slide-right {
	 to {
		 right: -6%;
		 opacity: 1;
		 transform: scale(0.9);
	}
}
.tableRow {
    display: none;
}
.show {
    display: table-row;
}
.footer{
  overflow: hidden;
  padding: 20px 10px 0px 10px;
  background-color: #565461;

   border: 5px solid #EBEBEB;
   border-left: 0px;
   border-right: 0px;
   border-bottom: 0px;
   font-size: 25px;
   font-family: Courier, monospace;
}
td {
 max-width: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
a{
    color: #EBEBEB;
}
a:hover{
    text-decoration:none;
    color:#A8D2FF;
}
#spaceInvaders{
	position:relative;
	left: -59%;
}
