
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<body>
<div class="header">
    <div class="top">
        <figure class="logoFig" style="display: inline-block">
        <a href="/journal" class="logo">
          {% load static %}
          <img class ="logoImg" src="{% static 'images/logo.jpg' %}" alt="Logo for journal site">
        </a>
            <figcaption>
                <a href="http://www.freepik.com" style="font-size:5pt;padding:0px;line-height:0px">Designed by macrovector / Freepik</a>
                </figcaption>
        </figure>
        <a id="tetrisButton" href="/tetris" class="btn">Tetris</a>
        <a id="pacmanButton" href="/pacman" class="btn">Pacman</a>
        <a id="spaceButton" href="/spaceInvaders" class="btn">Space Invaders</a>