<!DOCTYPE html>
<html lang="en">
<head>
<title>Journal Home</title>
{% include "./header.html" %}
<nav>
    <ul id="filters">
        <li class="tabs__tab tabs__tab--filterTab">
            <a class="tabs__tab-inner" onclick = "filterObjects('all')">Show All</a>
        </li>
        {% for software in softwares %}
            <li class="tabs__tab tabs__tab--filterTab">
                <a class="tabs__tab-inner" onclick="filterObjects('{{ software }}')">{{ software }}</a>
            </li>
        {% endfor %}
        <label for="myInput">Filter Table:</label>
        <input id="myInput" type="text" placeholder="Search..">
    </ul>
</nav>
</div>
</div>
<div class="main_body">
{% include "./table.html" %}
</div>
{% include "./footer.html" %}